$primaryColor: #F5F8FF;

::ng-deep header .mat-mdc-form-field {
    width: 220px;
}

::ng-deep header .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep header .mat-mdc-text-field-wrapper {
    flex: unset !important;
}

::ng-deep header .mdc-text-field__input {
    width: 220px;
}

::ng-deep header .mat-mdc-floating-label,
::ng-deep header .mdc-text-field__input,
header {
    background-color: #fff;
}



.example-container {
    height: 100%;
    background-color: $primaryColor;
    .example-sidenav {
        width: 300px;
        min-width: 250px;
        a {
            text-decoration: none;
            color: #000;
            gap: 90px;
            border-right: 5px solid #B5689C;
            background-color: $primaryColor;
        }
    }
    .example-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        h2 {
            color: #232EB1;
        }
    }
}

