<div class="container">
  <h1><strong>{{ pageName }}</strong></h1>
  <div class="d-flex justify-content-between">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input class="w-100" (input)="searchHandler($event)" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button class="mt-2 ms-3 text-nowrap" mat-raised-button color="primary"
      (click)="actionHandler('book-form', 'add')"><mat-icon>add</mat-icon>Add Book</button>
  </div>
  <div class="tableWrapper overflow-auto">
    <table mat-table [dataSource]="books" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="bookTitle">
        <th mat-header-cell *matHeaderCellDef class="text-nowrap">Book Title</th>
        <td mat-cell *matCellDef="let book" class="text-nowrap">{{book.title}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="bookCategory">
        <th mat-header-cell *matHeaderCellDef class="text-nowrap">Book Category</th>
        <td mat-cell *matCellDef="let book" class="text-nowrap">{{book.category}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="bookAuthor">
        <th mat-header-cell *matHeaderCellDef class="text-nowrap">Book Author</th>
        <td mat-cell *matCellDef="let book" class="text-nowrap">{{book.author}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="bookISBN">
        <th mat-header-cell *matHeaderCellDef class="text-nowrap">Book ISBN</th>
        <td mat-cell *matCellDef="let book" class="text-nowrap">{{book.ISBN}}</td>
      </ng-container>

      <ng-container matColumnDef="bookVersion">
        <th mat-header-cell *matHeaderCellDef class="text-nowrap">Book Version</th>
        <td mat-cell *matCellDef="let book" class="text-nowrap">{{book.version}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let book" class="text-nowrap">
          <button class="showBtn" type="button" mat-icon-button
            (click)="actionHandler('book-detail', book.id)"><mat-icon>remove_red_eye</mat-icon></button>
          <button class="editBtn" type="button" mat-icon-button
            (click)="actionHandler('book-form', book.id)"><mat-icon>edit</mat-icon></button>
          <button class="deleteBtn" type="button" mat-icon-button
            (click)="actionHandler('delete', book.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h1 class="text-center mt-5" *ngIf="books.length === 0">There're no founded books</h1>
  </div>
</div>
<div class="container">
  <mat-paginator 
  class="mt-4" 
  [length]="booksLength"
  [pageSize]="4"
  [disabled]="false"
  [hidePageSize]="true"
  [pageSizeOptions]="[1, 2, 3]"
  (page)="handlePageEvent($event)">
</mat-paginator>
</div>