::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #fff;
}

::ng-deep .mat-mdc-paginator {
    background-color: transparent !important;
}

.showBtn { color: #19498B; }
.editBtn { color: #55AB6E; }
.deleteBtn { color: #C94BB7; }