::ng-deep .formWrapper .mat-mdc-text-field-wrapper {
    background-color: #F5F8FF;
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .formWrapper {
        background-color: #fff;
        overflow: hidden;
        border-radius: 20px;
        .formImage {
            background-image: url('/assets/dummy-images/books.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 480px;
        }
    }
}

@media only screen and (max-width: 995px) {
    .formContainer {
        margin-top: 150px;
    }
}