// .formWrapper {
//     margin-top: 5vh;
//     img {
//         width: 5rem;
//     }
//     form {
//         gap: 15px;
//         border: 2px solid #3f51b5;
//         max-width: 500px;
//         box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//         0 8px 10px 1px rgba(0, 0, 0, 0.14),
//         0 3px 14px 2px rgba(0, 0, 0, 0.12);
//     }
// }

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .formWrapper {
        background-color: #fff;
        overflow: hidden;
        border-radius: 20px;
        .formImage {
            background-image: url('/assets/dummy-images/books.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 480px;
        }
        form {
            
        }
    }
}

::ng-deep .formWrapper .mat-mdc-text-field-wrapper {
    background-color: #F5F8FF;
}

@media only screen and (max-width: 995px) {
    .formContainer {
        margin-top: 150px;
    }
}